/* Gaya khusus untuk halaman "Contact" */
.content {
    padding: 20px; /* Ruang dalam konten halaman */
}

.content h1 {
    font-size: 24px; /* Ukuran font judul "Contact Us" */
}

form {
    margin-top: 20px; /* Jarak antara teks dan formulir */
}

form label {
    display: block; /* Membuat label tampil sebagai blok */
    margin-top: 10px; /* Jarak antara setiap label dan input */
}

form input,
form textarea {
    width: 100%; /* Lebar input dan textarea 100% */
    padding: 10px; /* Ruang dalam input dan textarea */
    margin-bottom: 10px; /* Jarak antara input dan textarea */
}

form input[type="submit"] {
    background-color: #007BFF; /* Warna latar belakang tombol Kirim */
    color: #fff; /* Warna teks tombol Kirim */
    padding: 10px 20px; /* Ruang dalam tombol Kirim */
}

footer {
    clear:both;
    background-color: #1d1d1d;
    padding: 20px;
    color: #eee;
}